@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply selection:text-white selection:bg-black/80;
}

body {
    @apply text-[15px] font-medium;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px !important;
    background-color: rgb(0, 0, 0);
}

img,
image {
    @apply select-none;
}